.header-sticky.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  animation: 0.95s ease-in-out 0s normal none 1 running fadeInDown;
  z-index: 999;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-box-shadow: 0 1px 1px 0 #f0f0f0;
  box-shadow: 0 1px 1px 0 #f0f0f0;
  background-color: #fff;
}

//.header_height-90 {
//  height: 90px;
//  display: -webkit-box;
//  display: -webkit-flex;
//  display: -ms-flexbox;
//  display: flex;
//  -webkit-box-align: center;
//  -webkit-align-items: center;
//  -ms-flex-align: center;
//  align-items: center;
//  width: 100%;
//}

.header_absolute {
  position: absolute;
  z-index: 9;
  width: 100%;
}

header img {
  width: 45%;
}

.navigation-menu > ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.navigation-menu > ul > li.has-children--multilevel-submenu {
  position: relative;
}

.navigation-menu > ul > li.has-children > a {
  position: relative;
}

.navigation-menu > ul > li > a {
  display: block;
  color: #000000;
  padding: 36px 2px;
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}

.navigation-menu > ul > li {
  margin: 0 24px;
}

.navigation-menu > ul > li.has-children > a::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border: 1px solid transparent;
  border-bottom-color: #d7d7d7;
  border-left-color: #d7d7d7;
  left: 50%;
  background-color: #fff;
  z-index: 9999;
  -webkit-transform: rotate(135deg) translateX(50%) translateY(0px);
  -ms-transform: rotate(135deg) translateX(50%) translateY(0px);
  transform: rotate(135deg) translateX(50%) translateY(0px);
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
  bottom: -12px;
  opacity: 0;
}

.header-right-side {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-right-side .header-right-items {
  margin-left: 40px;
}

.header-right-side .header-right-items a {
  font-size: 24px;
}

.header-cart {
  position: relative;
}

.header-cart .item-counter {
  font-size: 12px;
  vertical-align: .3em;
  position: absolute;
  min-width: 19px;
  height: 19px;
  background-color: #dcb14a;
  text-align: center;
  line-height: 19px;
  border-radius: 19px;
  bottom: 1px;
  right: -10px;
  padding: 0 5px;
  color: #000000;
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .navigation-menu > ul > li {
    margin: 0 15px;
  }
}
