html,
body {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.74;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Roboto", sans-serif;
  color: #000000;
  position: relative;
  background-color: #ffffff;
  margin: 0;
}

.bg-white {
  background: #ffffff !important;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a,
button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: #dcb14a;
}

*:focus {
  outline: none !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

h6 {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.41;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}

.section-space--mt_60 {
  margin-top: 60px;
}

.font-weight--reguler {
  font-weight: 500;
}

.font-lg-p {
  font-size: 18px;
}

.text-color-primary {
  color: #dcb14a;
}

input[type="checkbox"] {
  position: relative;
  background: 0 0;
  border-width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 10px 0 3px;
  cursor: pointer;
}

.btn--full {
  width: 100%;
}

.btn--black {
  background: #000000;
  color: #ffffff;
}

.btn {
  border-radius: 0;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  line-height: 38px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: transparent;
}

::selection {
  color: #ffffff;
  background-color: #dcb14a;
}

.site-wrapper-reveal {
  position: relative;
  z-index: 2;
  background: #ffffff;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 46px;
  }
}
