html,
body {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.74;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  visibility: visible;
  font-family: "Roboto", sans-serif;
  color: #000000;
  position: relative;
  background-color: #ffffff;
  margin: 0;
}

.bg-white {
  background: #ffffff !important;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a,
button {
  color: inherit;
  display: inline-block;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
  color: #dcb14a;
}

*:focus {
  outline: none !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}

.fade {
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.text-red {
  color: red;
}

.section-title--one::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #dcb14a;
  height: 4px;
  width: 70px;
}

h6 {
  font-size: 18px;
}

h2 {
  font-size: 36px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.41;
}

.sub-heading {
  font-size: 14px;
}

.sub-heading {
  color: #999;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}
.mt-30 {
  margin-top: 30px;
}

.section-space--mt_40 {
  margin-top: 40px;
}

.section-space--mt_60 {
  margin-top: 60px;
}

.section-space--ptb_90 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section-space--pt_120 {
  padding-top: 120px;
}

.section-space--pb_30 {
  padding-bottom: 30px;
}

.font-weight--reguler {
  font-weight: 500;
}

.section-space--ptb_120 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.font-lg-p {
  font-size: 18px;
}

.text-color-primary {
  color: #dcb14a;
}

p:last-child {
  margin-bottom: 0;
}

input[type="checkbox"] {
  position: relative;
  background: 0 0;
  border-width: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0 10px 0 3px;
  cursor: pointer;
}

.btn--full {
  width: 100%;
}

.btn--black {
  background: #000000;
  color: #ffffff;
}

.btn {
  border-radius: 0;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  line-height: 38px;
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border: transparent;
}

::selection {
  color: #ffffff;
  background-color: #dcb14a;
}

.site-wrapper-reveal {
  position: relative;
  z-index: 2;
  background: #ffffff;
}

.section-title--one {
  position: relative;
  padding-bottom: 10px;
}

.section-title--one::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: #dcb14a;
  height: 4px;
  width: 70px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus,
select:focus,
textarea:focus {
  color: #dcb14a;
  border-color: #dcb14a;
}

.breadcrumb-area {
  background-color: #f4f5f7;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom-width: 0px;
  padding-top: 160px;
  padding-bottom: 80px;
  background-size: cover;
}

.breadcrumb-list li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.58;
  text-transform: uppercase;
}

.breadcrumb-list li.active {
  color: #777;
}

.breadcrumb-item.active {
  color: #6c757d;
}

.breadcrumb-list li a::after {
  content: '';
  width: 0;
  height: 1px;
  bottom: 0;
  position: absolute;
  left: auto;
  right: 0;
  z-index: -1;
  -webkit-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  -o-transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  transition: width 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) 0s;
  background: currentColor;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  color: #6c757d;
  content: "/";
}

.border-bottom {
  border-bottom: 1px solid #ededed !important;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 46px;
  }
}
