.border-h6 {
  border: 1px solid #c4c4c4;
  border-top: none;
  border-right: none;
  border-bottom: none;
}

.background-slider-1 {
  background-image: url('./../../Asset/home-default-1.jpg');
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.background-slider-2 {
  background-image: url('./../../Asset/home-default-2.jpg');
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.background-slider-3 {
  background-image: url('./../../Asset/home-default-3.jpg');
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}


